
*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #1b1b2b;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
    text-decoration: none;
}
.feedback{
    margin: auto;
    margin-bottom: 10px;
    color: white;
    padding:6px;
    background-color: #c22e2e;
    border: none;
    border-radius: 10px;
    width: 40%;
}